


#videoBG {
  position: absolute;
  z-index: -1;
}

@media (min-aspect-ratio: 16/9) {
  #videoBG {
    width: 100%;
    height: auto;
  }
}

@media (max-aspect-ratio: 16/9) {
  #videoBG {
    width: auto;
    height: 100%;
  }
}

@media (max-width: 767px) {
  #videoBG {
    display: none;
  }
  body {
    background: url("poster\ video.png");
    background-size: cover;
  }
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}
header {
  height: 65px;
  background-color: #7b1fa2;
  color: white;
  display: flex;
  align-items: center;
  padding-left: 25px;
  font-family: "Montserrat", sans-serif;
}

.cara {
  border-radius: 500px;
  height: 200px;
}
.uno {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: calc(100vh - 65px);
  color: white;
  /* background-image: url("./background.jpg"); */
  background-size: cover;
}

.caja-central {
  margin-top: 10%;
  width: 50%;
  display: flex;
  flex-direction: row;
  border-radius: 20px;
  overflow: hidden;
  height: 50%;
}
.caja-cara {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  background-color: #1d1a1e;
}
.caja-presentacion {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  background-color: #f2f2f2;
  color: #303030;
  padding: 10px;
}

.dos {
  background-color: #ffffff;
  height: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #010101;
  padding-left: 20%;
  padding-right: 20%;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 18px;
}
.aptitudes {
  width: 30%;
  margin-bottom: 40px;
}


.tech-list-one {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}

.tech-list-two {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
}

.tech {
  height: 100px;
}


.tres {
  background-color: #303030;
  height: 600px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  color: #f2f2f2;
  margin-top: 70px;
}
.proyectos {
  width: 70%;
  display: flex;
  justify-content: space-between;
}
.card {
  text-align: center;
  width: 30%;
  border: solid #f2f2f2 1px;
  border-radius: 0px;
  padding: 10px;
}
.card img {
  width: 100%;
}
.card a,
footer a {
  color: white;
}

.red-social {
  height: 80px;
  background-color: #f2f2f2;
  border-radius: 50px;
  margin: 0 20px 0 5px;
}

.red-social:hover {
    height: 90px;
    transition: 200ms;
}

.titulos {
    font-size: 35px;
    color: #7f2b7c
}

.link {
    font-size: 20px;
    background-color: #7b1fa2;;
}

.link:hover {
    font-size: 20px;
    background-color: #bb8ad0;
}

footer {
  background-color: #31163d;;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: #f2f2f2;
  height: 200px;
}
.contacto {
  width: 20%;
  display: flex;
  justify-content: center;
}

@media (max-width: 1000px) {
  .caja-central {
    width: 90%;
    height: 70%;
    flex-direction: column;
  }
  .caja-cara {
    width: 100%;
    height: 50%;
  }
  .caja-presentacion {
    width: 100%;
    height: 50%;
    align-items: flex-start;
  }
  .aptitudes {
    width: auto;
  }
  .dos {
    height: auto;
    padding: 0 10px 10px 10px;
  }
  .tres {
    height: auto;
  }
  .proyectos {
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 20px;
  }
  .card {
    width: 80%;
    margin-top: 20px;
  }
  .red-social {
    margin: 0 10px 0 10px;
  }
}
